.btn {
  background-color: #286090;
  border: 0px;
  height: 30px;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.modal {
  display: none;
}

.modal-container {
  background-color: #fff;
  z-index: 50;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.text-details {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.close {
  cursor: pointer;
  float: right;
}

.close:hover {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
