/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.clock {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: white;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px); /* Offset the clock hands slightly */
}

.hand {
    width: 50%;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    height: 6px;
}

.minute-hand {
    height: 4px;
}

.second-hand {
    height: 2px;
    background: red;
}